{
  "root": true,
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "ignorePatterns": ["webpack.config.js"],
  "extends": ["airbnb", "airbnb/hooks"],
  "plugins": ["prettier", "import"],
  "rules": {
    "react/prop-types": "off",
    "no-unused-vars": "off",
    "prefer-destructuring": ["error", { "object": true, "array": false }],
    "implicit-arrow-linebreak": "off",
    "operator-linebreak": "off",
    "object-curly-newline": "off",
    "max-len": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "no-console": "off",
    "no-confusing-arrow": "off",
    "indent": "off"
  },
  "settings": {
    "import/resolver": {}
  }
}
